.page-home {
  background: rgb(46, 33, 63);;
  color: white;
  .mega-card {
    background: rgba(255, 255, 255, 0.85);
    color: black;
    box-shadow: inset -4px -4px 10px white;
  }
}
#navigation {
  box-shadow: none;
  border: none;
  background: none;
  color: inherit;
}
