---
layout: blank
home: true
permalink: /
class: page-home
---

<header id="welcome" class="mega-card">

  <container>
    <h1>Introducing HACKS the Musical</h1>
    <p class="lead">Starring Tristan Wiley &amp; Co</p>
  </container>

</header>
<section id="cast">

  <container>
    <row>
      <column>
        <h1>Starring...</h1>
        <br>
        <rows class="person-embed-list">

          {% for person in site.data.cast limit:10 %}
             <a class="person person-vip person-embed column" href="{{ site.baseurl }}/cast#{{ person.name | slugify }}" size="33">
               <div class="avatar" style="background-image:url({{ site.baseurl }}/{{ person.avatar }});"></div>
               <h3>{{ person.name }}<br><small>{{ person.aka }}</small></h3>
             </a>
          {% endfor %}

        </rows>
        <a href="{{ site.baseurl }}/cast"class="button">More Cast Members <icon class="icon-right"></icon></a>
      </column>
      <column>
        <h1>Help Us!</h1>
        <br>
        <p><b>We are only getting started.</b> HACKS the Musical is looking for volunteers to get involved. We are filming at MHacks 10.</p>
        <ul class="post-list">
          {% for post in site.posts limit:4 %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h3>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
            </li>
          {% endfor %}
        </ul>
        <a href="{{ site.baseurl }}/get-involved" class="button">Get Involved <icon class="icon-right"></icon></a>
      </column>
    </row>
  </container>

</section>
